/* CSS HEX */
/*$english-violet: #51355aff;

$white-smoke: #f1edeeff;
$dim-gray: #686963ff;
$cambridge-blue: #8aa29eff;
$charcoal: #3d5467ff;
$indian-red: #db5461ff;

$font-color: $charcoal;
$font-alternative-color: $white-smoke;
$accent-color: $cambridge-blue;
$background-color: $dim-gray;
$background-alternative-color: $english-violet;
$main-background-color: $white-smoke;
*/

.element1 {
  box-sizing: content-box;
  width: 600px;
  height: 100px;
  background-color: $background-color;
  color: $font-alternative-color;
}

.element2 {
  box-sizing: content-box;
  width: 100%;
  height: 100px;
  background-color: $background-alternative-color;
  color: $font-alternative-color;
}

.element3 {
  box-sizing: border-box;
  width: 50%;
  height: 100px;
  background-color: $main-background-color;
  color: $accent-color;
}

.element4 {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: $accent-color;
  color: #db5461ff;
}

/* CSS HEX */
/*--black: #000000ff;
--flame: #cf5c36ff;
--lavender-blush: #eee5e9ff;
--gray: #7c7c7cff;
--sunset: #efc88bff;
*/

.element5 {
  box-sizing: content-box;
  width: 600px;
  height: 100px;
  background-color: #cf5c36ff;
  color: #eee5e9ff;
}

.element6 {
  box-sizing: content-box;
  width: 100%;
  height: 100px;
  background-color: #eee5e9ff;
  color: #7c7c7cff;
}

.element7 {
  box-sizing: border-box;
  width: 50%;
  height: 100px;
  background-color: #7c7c7cff;
  color: #efc88bff;
}

.element8 {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #efc88bff;
  color: #7c7c7cff;
}
