/* CSS HEX */
$floral-white: #fff8f0ff;
$auburn: #9e2b25ff;
$russian-violet: #2a0c4eff;
$beige: #f5f8deff;

$english-violet: #51355aff;

$white-smoke: #f1edeeff;
$dim-gray: #686963ff;
$cambridge-blue: #8aa29eff;
$charcoal: #3d5467ff;
$indian-red: #db5461ff;


$font-color: $charcoal;
$font-alternative-color: $white-smoke;
$accent-color: $cambridge-blue;
$background-color: $dim-gray;
$background-alternative-color: $english-violet;
$main-background-color: $white-smoke;
